<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>

        <mat-select
        panelClass="sort-select"
        [(ngModel)]="sort">


        <mat-option value="Name">Name</mat-option>
        <mat-option value="Realesed">Realesed</mat-option>
        <mat-option value="Added">Added</mat-option>
        <mat-option value="Created">Created</mat-option>
        <mat-option value="Updated">Updated</mat-option>
        <mat-option value="Rating">Rating</mat-option>
        <mat-option value="Metacritic">Metacritic</mat-option>

        </mat-select>
    </mat-form-field>
</div>

<div class="games">
    <div class="game">
        <div class="game-thumb-container">
            <img src="https://images.unsplash.com/photo-1612287230202-1ff1d85d1bdf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt="thumbnail">
        </div>
        <div class="game-description">
            <p class="game-name">Name</p>
            <div class="game-platforms">
                <img src="https://images.unsplash.com/photo-1612287230202-1ff1d85d1bdf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt="slug"
                class="game-platform">
            </div>
        </div>
    </div>
</div>